@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --auth-bg-color: #100f22;
  --system-error-color: #c62121;
  --system-success-color: #82c91e;

  --main-text-color: #ffffff;
  --second-text-color: #adb5bd;

  --main-radius: 16px;
  --input-radius: 8px;

  --font-heading: 'Satoshi', sans-serif;
  --font-body: 'Inter', sans-serif;

  --h1-size: 32px;
  --h2-size: 24px;
  --main-font-size: 16px;
  --secondary-font-size: 14px;
  --small-font-size: 12px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Satoshi';
  src: url('/public/fonts/Satoshi.ttf') format('truetype');
  font-weight: 900;
  font-size: 42px;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
